<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>변태력 테스트</title>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <style type="text/css">
        * {
            text-align: center;
            font-family: 'Stylish', sans-serif;
        }
        .comment {
            color: blue;
            font-weight: bold;
        }
        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }
    </style>
    <script>
        var question_count = 11;  // 전체 문제 개수
        var current_question = 0;  // 1번문제부터 시작한다
        // questions[0] 1번문제
        // questions[1] 2번문제
        var score = 0;
        $(document).ready(function () {
            $("#cards-box").html("");
            showQuestion(current_question);
        });
        // number 번 문제만 보여주고 다 가린다.
        // number는 0부터 시작
        function showQuestion(number) {
            var index = parseInt(number);
            for (let i = 0; i < question_count; i++) {
                if (i != index) {  // number번째 문제가 아니라면...
                    $(`#q${i}`).hide();
                }
                if (i == index) {
                    $(`#q${i}`).show();
                }
            }
        }
        function clickQuestion(questionNumber) {
            // input - 태그 조건
            // [name="checkbox${questionNumber}"][value="Yes"] - 태그 속성 조건
            // .is(':checked') - 체크박스를 선택했는지 여부(true/false)
            if(current_question == 10){
                $.ajax({
                    type:"POST",
                    url: "api/result",
                    data: { 'score' : score},
                    success: function (response){
                        alert("server test!!!");

                    }
                })
            }
            if ($(`input[name="checkbox${questionNumber}"][value="Yes"]`).is(':checked')) {
                score = score + 10;
            } else {
            }
            current_question = current_question + 1; // 다음 문제로!
            console.log(current_question)
            console.log('현재점수' + score)
            showQuestion(current_question);
        }
        function makeCard(image, url, title, desc, comment) {
            let tempHtml = `
                    <div class="card">
                        <img class="card-img-top" src="${image}" alt="Card image cap">
                            <div class="card-body">
                                <a href="${url}" target="_blank" class="card-title">${title}</a>
                                <p class="card-text">${desc}</p>
                                <p class="card-text comment">${comment}</p>
                            </div>
                    </div>`;
            $("#cards-box").append(tempHtml);
        }
        function openClose() {
            // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
            if ($('#post-box').css('display') == 'block') {
                // post-box를 가리고
                $('#post-box').hide();
                // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                $('#btn-post-box').text('테스트해보기');
            } else {
                // 아니면(눈에 보이지 않으면) post-box를 펴라
                $('#post-box').show();
                // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                $('#btn-post-box').text('');
            }
        }
    </script>
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">변태력 테스트</h1>
    <p class="lead">나의 숨겨진 변태력은?</p>
    <hr class="my-4">
<!--    <p class="lead">-->
<!--        <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">변태력 알아보기</button>-->
<!--    //</p>-->
</div>
<div id="post-box" class="form-post" style="">
    <div id="q0", style="padding: 30px">
        <label>나의 숨겨진 변태력 알아보기</label>
            <div class="form-group" , style="padding: 20px 10px 30px 10px">
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickQuestion(0)">시작!</button>
    </div>
    <div id="q1", style="padding: 30px">
        <label>나는 입술에 생긴 각질은 꼭 떼고 만다.</label>
        <form>
            <div class="form-group" , style="padding: 20px 10px 30px 10px">
                <html>
                <head>
                    <title>체크박스 하나만 선택하기</title>
                    <script type="text/javascript">
                        function oneCheckbox(a) {
                            var obj = document.getElementsByName("checkbox1");
                            for (var i = 0; i < obj.length; i++) {
                                if (obj[i] != a) {
                                    obj[i].checked = false;
                                }
                            }
                        }
                    </script>
                </head>
                <body>
                <form name="sendForm" method="get">
                    <input type="checkbox" name="checkbox0" value="Yes" onclick="oneCheckbox(this)">Yes
                    <input type="checkbox" name="checkbox0" value="No" onclick="oneCheckbox(this)">No
                    <head>
                        <script type="javascript">
                            function clickQuestion(answer) {
                            if ($(`input[name="checkbox0${current_question}"] [value="Yes"]`).is(':checked') == true) { score +=1 }
                            current_question =+ 1;
                            console.log(current_question0)
                            showQuestion(current_question)
                            }
                        </script>
                    </head>
                </form>
                </body>
                </html>
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickQuestion(0)">다음</button>
        </form>
    </div>
    <div id="q2", style="padding: 30px">
        <label>살짝 구운 스테이크가 좋다.</label>
        <form>
            <div class="form-group" , style="padding: 20px 10px 30px 10px">
                <html>
                <head>
                    <title>체크박스 하나만 선택하기</title>
                    <script type="text/javascript">
                        function oneCheckbox(a) {
                            var obj = document.getElementsByName("checkbox1");
                            for (var i = 0; i < obj.length; i++) {
                                if (obj[i] != a) {
                                    obj[i].checked = false;
                                }
                            }
                        }
                    </script>
                </head>
                <body>
                <form name="sendForm" method="get">
                    <input type="checkbox" name="checkbox1" value="Yes" onclick="oneCheckbox(this)">Yes
                    <input type="checkbox" name="checkbox1" value="No" onclick="oneCheckbox(this)">No
                </form>
                </body>
                </html>
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickQuestion(1)">다음</button>
        </form>
    </div>
    <div id="q3", style="padding: 30px">
        <label>귀를 만져주는 것이 좋다.</label>
        <form>
            <div class="form-group" , style="padding: 20px 10px 30px 10px">
                <html>
                <head>
                    <title>체크박스 하나만 선택하기</title>
                    <script type="text/javascript">
                        function oneCheckbox(a) {
                            var obj = document.getElementsByName("checkbox1");
                            for (var i = 0; i < obj.length; i++) {
                                if (obj[i] != a) {
                                    obj[i].checked = false;
                                }
                            }
                        }
                    </script>
                </head>
                <body>
                <form name="sendForm" method="get">
                    <input type="checkbox" name="checkbox2" value="Yes" onclick="oneCheckbox(this)">Yes
                    <input type="checkbox" name="checkbox2" value="No" onclick="oneCheckbox(this)">No
                </form>
                </body>
                </html>
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickQuestion(2)">다음</button>
        </form>
    </div>
    <div id="q4", style="padding: 30px">
        <label>오믈렛보단 달걀 프라이가 더 좋다.</label>
        <form>
            <div class="form-group" , style="padding: 20px 10px 30px 10px">
                <html>
                <head>
                    <title>체크박스 하나만 선택하기</title>
                    <script type="text/javascript">
                        function oneCheckbox(a) {
                            var obj = document.getElementsByName("checkbox1");
                            for (var i = 0; i < obj.length; i++) {
                                if (obj[i] != a) {
                                    obj[i].checked = false;
                                }
                            }
                        }
                    </script>
                </head>
                <body>
                <form name="sendForm" method="get">
                    <input type="checkbox" name="checkbox3" value="Yes" onclick="oneCheckbox(this)">Yes
                    <input type="checkbox" name="checkbox3" value="No" onclick="oneCheckbox(this)">No
                </form>
                </body>
                </html>
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickQuestion(3)">다음</button>
        </form>
    </div>
    <div id="q5", style="padding: 30px">
        <label>물집은 꼭 터트려야 한다.</label>
        <form>
            <div class="form-group" , style="padding: 20px 10px 30px 10px">
                <html>
                <head>
                    <title>체크박스 하나만 선택하기</title>
                    <script type="text/javascript">
                        function oneCheckbox(a) {
                            var obj = document.getElementsByName("checkbox1");
                            for (var i = 0; i < obj.length; i++) {
                                if (obj[i] != a) {
                                    obj[i].checked = false;
                                }
                            }
                        }
                    </script>
                </head>
                <body>
                <form name="sendForm" method="get">
                    <input type="checkbox" name="checkbox4" value="Yes" onclick="oneCheckbox(this)">Yes
                    <input type="checkbox" name="checkbox4" value="No" onclick="oneCheckbox(this)">No
                </form>
                </body>
                </html>
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickQuestion(4)">다음</button>
        </form>
    </div>
    <div id="q6", style="padding: 30px">
        <label>연필을 뾰족하게 깎는 것을 선호한다.</label>
        <form>
            <div class="form-group" , style="padding: 20px 10px 30px 10px">
                <html>
                <head>
                    <title>체크박스 하나만 선택하기</title>
                    <script type="text/javascript">
                        function oneCheckbox(a) {
                            var obj = document.getElementsByName("checkbox1");
                            for (var i = 0; i < obj.length; i++) {
                                if (obj[i] != a) {
                                    obj[i].checked = false;
                                }
                            }
                        }
                    </script>
                </head>
                <body>
                <form name="sendForm" method="get">
                    <input type="checkbox" name="checkbox5" value="Yes" onclick="oneCheckbox(this)">Yes
                    <input type="checkbox" name="checkbox5" value="No" onclick="oneCheckbox(this)">No
                </form>
                </body>
                </html>
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickQuestion(5)">다음</button>
        </form>
    </div>
    <div id="q7", style="padding: 30px">
        <label>여드름은 꼭 짜야한다.</label>
        <form>
            <div class="form-group" , style="padding: 20px 10px 30px 10px">
                <html>
                <head>
                    <title>체크박스 하나만 선택하기</title>
                    <script type="text/javascript">
                        function oneCheckbox(a) {
                            var obj = document.getElementsByName("checkbox1");
                            for (var i = 0; i < obj.length; i++) {
                                if (obj[i] != a) {
                                    obj[i].checked = false;
                                }
                            }
                        }
                    </script>
                </head>
                <body>
                <form name="sendForm" method="get">
                    <input type="checkbox" name="checkbox6" value="Yes" onclick="oneCheckbox(this)">Yes
                    <input type="checkbox" name="checkbox6" value="No" onclick="oneCheckbox(this)">No
                </form>
                </body>
                </html>
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickQuestion(6)">다음</button>
        </form>
    </div>
    <div id="q8", style="padding: 30px">
        <label>물집을 터트리는 걸 좋아한다.</label>
        <form>
            <div class="form-group" , style="padding: 20px 10px 30px 10px">
                <html>
                <head>
                    <title>체크박스 하나만 선택하기</title>
                    <script type="text/javascript">
                        function oneCheckbox(a) {
                            var obj = document.getElementsByName("checkbox1");
                            for (var i = 0; i < obj.length; i++) {
                                if (obj[i] != a) {
                                    obj[i].checked = false;
                                }
                            }
                        }
                    </script>
                </head>
                <body>
                <form name="sendForm" method="get">
                    <input type="checkbox" name="checkbox7" value="Yes" onclick="oneCheckbox(this)">Yes
                    <input type="checkbox" name="checkbox7" value="No" onclick="oneCheckbox(this)">No
                </form>
                </body>
                </html>
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickQuestion(7)">다음</button>
        </form>
    </div>
    <div id="q9", style="padding: 30px">
        <label>간지럼을 잘 참는다.</label>
        <form>
            <div class="form-group" , style="padding: 20px 10px 30px 10px">
                <html>
                <head>
                    <title>체크박스 하나만 선택하기</title>
                    <script type="text/javascript">
                        function oneCheckbox(a) {
                            var obj = document.getElementsByName("checkbox1");
                            for (var i = 0; i < obj.length; i++) {
                                if (obj[i] != a) {
                                    obj[i].checked = false;
                                }
                            }
                        }
                    </script>
                </head>
                <body>
                <form name="sendForm" method="get">
                    <input type="checkbox" name="checkbox8" value="Yes" onclick="oneCheckbox(this)">Yes
                    <input type="checkbox" name="checkbox8" value="No" onclick="oneCheckbox(this)">No
                </form>
                </body>
                </html>
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickQuestion(8)">다음</button>
        </form>
    </div>
    <div id="q10", style="padding: 30px">
        <label>아픈 것을 잘 참는 편이다.</label>
        <form>
            <div class="form-group" , style="padding: 20px 10px 30px 10px">
                <html>
                <head>
                    <title>체크박스 하나만 선택하기</title>
                    <script type="text/javascript">
                        function oneCheckbox(a) {
                            var obj = document.getElementsByName("checkbox1");
                            for (var i = 0; i < obj.length; i++) {
                                if (obj[i] != a) {
                                    obj[i].checked = false;
                                }
                            }
                        }
                    </script>
                </head>
                <body>
                <form name="sendForm" method="get">
                    <input type="checkbox" name="checkbox9" value="Yes" onclick="oneCheckbox(this)">Yes
                    <input type="checkbox" name="checkbox9" value="No" onclick="oneCheckbox(this)">No
                </form>
                </body>
                </html>
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickQuestion(9)">다음</button>
        </form>
    </div>
</div>
<div id="livereAd" style="width:100%; text-align:center; margin-bottom:5px; display:inline-block;">
    <iframe src="https://ads-partners.coupang.com/widgets.html?id=17498&amp;width=300&amp;height=250&amp;subId=2XPV0099"
            class="lv-ad-a" frameborder="0" marginwidth="0" marginheight="0" paddingwidth="0" paddingheight="0"
            scrolling="no" width="300" height="250"></iframe>
    <iframe src="https://ads-partners.coupang.com/widgets.html?id=17498&amp;width=300&amp;height=250&amp;subId=2XPV0099"
            class="lv-ad-b" frameborder="0" marginwidth="0" marginheight="0" paddingwidth="0" paddingheight="0"
            scrolling="no" width="300" height="250"></iframe>
</div>
</body>
</html>